<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">

        <div class="row g-5">
          <div class="col-lg-4">
            <h3 class="footer-heading">About BloggY</h3>
            <p>Bloggy is the perfect place to share your thoughts and knowledge, your opinions and suggestions. Here in bloggy , search and find any kind of blogs you want. This is the bloggers heaven</p>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Navigation</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="/"><i class="bi bi-chevron-right"></i> Home</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2">
            </ul>
          </div>

       
        </div>
      </div>
    </div>
  </footer>